<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="typeof(Routes).Assembly"
                AdditionalAssemblies="new[] { typeof(VIGOR.Shared._Imports).Assembly }">
            <Found Context="routeData">
                <RouteView RouteData="routeData" DefaultLayout="typeof(VIGOR.Shared.Components.Layout.MainLayout)" />
                <FocusOnNavigate RouteData="routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="typeof(VIGOR.Shared.Components.Layout.MainLayout)">
                    <p role="alert">Side ikke fundet.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="blazor-error-boundary">
            <h3>An error occurred in the Blazor App!</h3>
            <pre>@ex.Message</pre>
            <pre>@ex.StackTrace</pre>
            @if(ex.InnerException != null)
            {
                <pre>Inner: @ex.InnerException.Message</pre>
                <pre>@ex.InnerException.StackTrace</pre>
            }
        </div>
    </ErrorContent>
</ErrorBoundary>
