@page "/home"

<PageTitle>Hjem – VIGOR</PageTitle>

<div class="p-4">
    <h1>Hjem</h1>
    <p>Velkommen til VIGOR. Dette er din startside som Personale.</p>
    <p><em>Tom oversigt...</em></p>
</div>
