@page "/schedule"

<PageTitle>Vagtplan – VIGOR</PageTitle>

<div class="p-4">
    <h1>Vagtplan</h1>
    <p>Velkommen til VIGOR. Dette er din startside som Vagtansvarlig.</p>
    <p><em>Tom oversigt...</em></p>
</div>
